.grid-container {
grid-template-columns: 33%, 33%, 33%;
grid-template-rows: 1fr;
display: flex;
}
column-one {
	max-width: 33%;
}
column-two {
	max-width: 33%;
}
column-three {
	max-width: 33%;
}

column-one-about {
	max-width: 50%;
	padding-left: 16%;
}
column-two-about {
	max-width: 50%;
	padding-right:16%;
}