:root {
    --background: #17052e; 
    --foreground: #C44900;
    --card-foreground: #e8f0ff; /* #323B42 */

    --popover:#826AED; /* #323B42 */
    --popover-foreground: #fa7b32; /* #323B42 */

   
}

/* Light Mode */
.light,
:root[class~='light'] {

	--background:#e8f0ff; 
	--foreground: #17052e;
	--card-foreground: #fa7b32;

	--popover:#826AED;
	--popover-foreground:#C44900;

    #theme-toggle:checked{
        --toggle-shape: '\25D1'; 
        --background: #17052e;
        --foreground: #C44900;
        --card-foreground: #f#e8f0ff;
    
        --popover:#826AED; 
        --popover-foreground: #fa7b32;
    }
}