/* Basic reset for consistent margins and paddings */
           
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Space Grotesk", sans-serif;
    min-height: 100vh;
    background-color: var(--background);
    color: var(--card-foreground);
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    justify-content: center;
    align-items: center;
}


/*  When the body has display: flex;, 
    its children (header, footer, and main) become flex items. 
    Flex items do not expand to fill their container's width
    unless you explicitly set their width.
*/

main {
    width: 100%; /* Make sure it takes full width */
    flex: 1; /* Allow it to grow within the flex container */
}

header,
footer {
    background-color: var(--background);
    color: var(--card-foreground);
    padding: 20px;
    gap: 10px;
    width: 100%; /* Make the header and footer take full width */
}

header {
    margin-bottom: 30px;
    padding: 20px 40px;
    background-color: var(--background);
}

header div,
footer div {
    background-color: var(--background);
    padding: 10px;
    text-align: center;
    display: block;
}


h1,
h2,
h3,
h4 {
    color: var(--card-foreground);
}

a {
    color: var(--background);
}

article {
    margin-bottom: 40px;
    background-color: var(--foreground);
    padding: 20px 40px;
    border-radius: 10px;
    color: var(--destructive);
}
head {
    font-size: 55px;
    background-color: var(--card-foreground);
    color: var(--foreground);
    text-align: center;
    margin-bottom: 40px;
    padding: 20px 40px;
    border-radius: 10px;
}

blockquote {
    background-color: var(--background);
    border-left: 10px solid var(--popover);
    margin: 20px 0;
    padding: 10px 20px;
}

cite {
    display: block;
    margin-top: 10px;
    font-size: 0.9em;
    color: var(--primary);
}

p {
    margin: 15px 0;
    line-height: 1.8;
}


.highlight {
    color: var(--foreground);
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.image-container img {
    width: 100%;
    height: auto;
}

screen-heading {
    margin-bottom: 40px;
    background-color: var(--foreground);
    padding: 20px 40px;
    border-radius: 10px;
    color: var(--card-foreground);
}
.toc {
    text-align: center;
    margin: 20px 0;
}

.toc a {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: var(--muted);
    border-radius: 5px;
    color: var(--foreground);
    text-decoration: none;
}

.toc a:hover {
    background-color: var(--primary);
}

.final-section {
    text-align: center;
    padding: 40px 20px;
    background-color: var(--muted);
    color: var(--foreground);
}

.final-section a {
    display: block;
    margin: 10px 0;
    color: var(--foreground);
    text-decoration: none;
    font-weight: bold;
}

.final-section a:hover {
    color: var(--accent);
}