/* Basic reset for consistent margins and paddings */
           
a {
    color: var(--popover-foreground);
}

article {
    display: flex;
    margin: 40px;
    background-color: var(--foreground);
    padding: 40px 40px;
    border-radius: 40px;
    color: var(--destructive);
    align-items: center;
    width: 33.3%;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    text-size-adjust:auto;
    text-align: left;
    align-content: center;


}
.article-two {
    margin-bottom: 40px;
    margin: 40px;
    background-color: var(--foreground);
    padding: 40px 40px;
    border-radius: 40px;
    color: var(--background);
    text-align: center;


}


    
blockquote {
    background-color: var(--background);
    border-left: 10px solid var(--popover);
    margin: 20px 0;
    padding: 10px 20px;
    border-radius: 20px;
}

body {
    font-family:'Helvetica';
    overscroll-behavior: smooth;
    background-image: ("https://ik.imagekit.io/fffxdffn7/9.jpg");
    background-size: cover;
    width: 100%;
    margin: 0;
    
}

button-mid {
    text-align:center;
    vertical-align:middle;
    margin: 40px;
    background-color: var(--foreground);
    padding: 20px 20px;
    border-radius: 40px;
    color: var(--card-foreground);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    width:25%;
}

button-left {
    text-align:center;
    vertical-align:left;
    margin: 40px;
    background-color: var(--foreground);
    padding: 20px 20px;
    border-radius: 40px;
    color: var(--card-foreground);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    width:25%;
}

button-right {
    text-align:center;
    vertical-align:right;
    margin: 40px;
    background-color: var(--foreground);
    padding: 20px 20px;
    border-radius: 40px;
    color: var(--card-foreground);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    width:25%;
}
button-mode {
    text-align:center;
    vertical-align:right;
    margin: 40px;
    background-color: var(--foreground);
    padding: 20px 20px;
    border-radius: 40px;
    color: var(--card-foreground);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    width:25%;
    background-image:url("Assets/1.jpg");
}

cite {
    display: block;
    margin-top: 10px;
    font-size: 0.9em;
    color: var(--PO);
}


footer {
    background-color: transparent;
    color: var(--card-foreground);
    padding: 20px;
    gap: 10px;
    width: 100%; 
}

footer div {
    background-color: var(--background);
    padding: 10px;
    text-align: center;
    display: block;
}

header {
        padding: 20px;
        font-size: 100%;
        display:flex;
        background-color: transparent;
        align-items: center;
    
}


header div{
    background-color: transparent;
    padding: 10px;
    text-align: center;
    display:inline-flex;
}


h1{
    font-size: 75px;
    margin: 20px 0;
    color: var(--card-foreground)
}
h2{
    font-size: 55px;
    line-break: 8%;
    margin: 20px 0;
    color: var(--card-foreground)
}
h3{
    font-size: 35px;
    line-break: 8%;
    margin: 20px 0;
    color: var(--card-foreground)
}
h4 {
    font-size: 25px;
    line-break: 8%;
    margin: 20px 0;
    color: var(--card-foreground);
}
h5 {
    font-size: 15px;
    line-break: 8%;
    margin: 20px 0;
    color: var(--card-foreground);
}

image{
    border-style: none;


}
main {
    display:flex;
    grid-template-columns: 3fr;
    grid-template-rows: 3fr; 
    width: 100%; 
    gap: 1rem; /* Optional, adds space between rows/columns */
    overflow-y:visible; /* Enable scrolling for content */
    scroll-behavior: smooth; /* Enable smooth scrolling */
}
f

sub {
    bottom:-0.25em;
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}


p {
    margin:flex;
    line-height: 1;
}

.highlight {
    color: var(--foreground);
}

.header-container h1 {
    font-size: 2.5em;
    background-color: var(--background);
    color: var(--card-foreground);
    padding-bottom: 20px;
    position: sticky;
    top: 0;
    
}

.image-container {
    display: 100%;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.img-quarter {
    float:left;
    width:100%;
    padding:0 8px
}
.row{
    content:"";
    display:table;
    clear:both;
}